<br>
<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
        <div class="col-sm-3 "> <!--custom-card-side-nav-->
            <div class="scroll custom-card-side-nav">
                <div class="bg-info text-white">
                    <b>Select Sensor:</b>
                    <div>
                        <select id="sensorID" class="form-control">
                            <option> --</option>
                            <option value="0004A30B001E307C">
                                City lab Sensor 1 (0004A30B001E307C)
                            </option>
                            <option value="0004A30B001E8EA2">
                                City lab Sensor 2 (0004A30B001E8EA2)
                            </option>
                            <option value="0004A30B001E1694">
                                City lab Sensor 3 (0004A30B001E1694)
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="tab-content" id="pills-tabContent">

                    <div class="bg-info text-white">
                        <div id="floating-panel">
                            <b>Select Reading Type: </b>
                            <div id="example">
                                <select id="sensor" class="form-control">
                                    <option> --</option>
                                    <option id="air_temperature" value="air_temperature">Air Temperature</option>
                                    <option id="battery" value="battery">Battery</option>
                                    <option id="charging_power" value="charging_power">Charging Power</option>
                                    <option id="distance_to_water" value="distance_to_water">Distance To Water</option>
                                    <option id="humidity" value="humidity">Humidity</option>
                                    <option id="pressure" value="pressure">Pressure</option>
                                    <option id="rain" value="rain">Rain</option>
                                    <option id="solar_radiation" value="solar_radiation">Solar Radiation</option>
                                    <option id="wind_speed" value="wind_speed">Wind Speed</option>
                                    <option id="wind_Vane" value="wind_Vane">Wind Vane</option>

                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <hr>
                        <div class="card text-white bg-dark mb-3" id="myTable">
                            <data class="mapData">
                                <h5 class="card bg-info text-white">Latest Reading: <b
                                        id="cityLabsSensorType">{{this.type}}</b></h5>
                                <hr>
                                <div class="card-body card-effect-circle">
                                    <h7 class="card-title">Sensor value: <b id="cityLabsSensorValue">
                                        {{#if this.value}}
                                            <h1>{{this.value}}</h1>
                                        {{else}}
                                            <h7> Select value</h7>
                                        {{/if}}
                                    </b>
                                    </h7>
                                    <br>
                                    <br>
                                    <p class="card-text">Last Updated: <b id="cityLabTime">
                                        {{#if this.time}}
                                            <h1>{{this.time}}</h1>
                                        {{else}}
                                            <h7> Select value</h7>
                                        {{/if}}
                                    </b>
                                    </p>
                                </div>
                            </data>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div class="card  bg-info border-info ">
                    <div class="card-header text-white">
                        <h6> Search Result </h6>
                    </div>
                    <div class="card-body bg-light">
                        {{#if dataSource1}}
                            <div class="container-fluid"> City Lab Sensor 1 <b>{{dataSource1.length}}</b>
                                data
                                points
                            </div>
                        {{/if}}
                        {{#if dataSource2}}
                            <div class="container-fluid"> City Lab Sensor 2
                                <b>{{dataSource2.length}}</b> data
                                points
                            </div>
                        {{/if}}
                        {{#if dataSource3}}
                            <div class="container-fluid">City Lab Sensor 3  <b>{{dataSource3.length}}</b> data points</div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    Maps
                </div>
                <div class="">
                    <section id="map" style="width: 100%; height: 495px"> Data!</section>
                    <hr>
                    <canvas class="line-chart"
                            style="width: 1395px; height: 348px; background-color: white; display: block"
                            disabled></canvas>
                    <div id="floating-panel">
                        <b>Mode of Travel: </b>
                        <select id="mode">
                            <option value="DRIVING">Driving</option>
                            <option value="WALKING">Walking</option>
                            <option value="BICYCLING">Bicycling</option>
                            <option value="TRANSIT">Transit</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>

<script type="text/javascript" src="/search-engine/javascripts/cityLabs.js"></script>
