<br>
<h1 style="text-align: center"><b>Banegårdsgade-</b> {{title}} </h1>


<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="card">
                <h5 style="text-align: center">Historic Data</h5>
                <div class="card-body" style="height:90%;">
                    <div id="chart_div" style="height: 50%; width: 100%"></div>
                    <canvas id="historicAirPollution"></canvas>
                    <p id="animationProgress"></p>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-sm btn-primary"> Show Weekly</button>
                    <button class="btn btn-sm btn-success"> Show Month</button>
                    <button class="btn btn-sm btn-primary"> Show All Data</button>
                    <lable class="float-right" id="lastReading1"></lable>
                </div>
            </div>

            <br>
            <div class="card">
                <h5 style="text-align: center">Information: Banegårdsgade Air Pollution</h5>
                <div class="card-body" style="height:90%;">
                    <p>In Aarhus you will be measured at Banegårdsgade (street station) and Botanical Garden (city
                        background).

                        Measurement stations are divided into "types" according to their location: Street - on
                        highly busy streets City background - on roofs or farms in urban areas Country - in open
                        areas far from major sources of pollution:</p>

                    <div class="container-fluid">
                    </div>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <hr>

        <div class="col">
            <div class="card">
                <h4 style="text-align: center">Latest Reading Data</h4>
                <div class="card-body">
                    <div id="chart_div2" style="width:70%; margin:0 auto;"></div>
                </div>
                <div class="card-footer text-muted">
                    <lable class="float-right" id="lastReading2"></lable>
                </div>
            </div>
            <br>
            <div class="card">
                <h5 style="text-align: center">Raw Data</h5>
                <div class="card-body">
                    <div class="container">
                        <table id="dataTables" class="display table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Date</th>
                                <th scope="col">NO2 myg/m3</th>
                                <th scope="col">NOx myg(NO2)/m3</th>
                                <th scope="col">CO mg/m3</th>
                                <th scope="col">StartTime</th>
                                <th scope="col">EndTime</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each data}}
                                <tr>
                                    <td>{{@index}}</td>
                                    <td>{{this.Date}}</td>
                                    <td>{{this.N02}}</td>
                                    <td>{{this.NOx}}</td>
                                    <td>{{this.CO}}</td>
                                    <td>{{this.startTime}}</td>
                                    <td>{{this.endTime}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="/search-engine/javascripts/AirqualityBanegardsgade.js" type="text/javascript"></script>
