<br>
<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
        <div class="col-sm-3">
            <div class="scroll-traffic-results custom-card-side-nav">
                <label for="basic-url">Type your road: </label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button">Search</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Type your road" aria-label=""
                           aria-describedby="basic-addon1">
                </div>

                {{#each data}}
                    <div class="card text-white bg-dark mb-3" id="myTable">
                        <data>
                            <div class="card bg-info text-white garageCode"><b>Hello</b></div>

                            <div class="card-body card-effect-circle">
                                <h7 class="card-title">Total spaces: <b>Change me</b></h7>
                                <p></p>
                                <p class="card-text">Last upadated: {{this.date}}</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-sm btn-success float-left" data-toggle="collapse"
                                        data-target="#demo-{{@index}}"> More Information <i
                                        class="fas fa-caret-down"></i>
                                </button>
                                <br>
                                <hr>
                                <p>{{@index}}</p>
                                <div id="demo-{{@index}}" class="collapse">

                                    <p>
                                        {{this.status}} <br>
                                        {{this.avgMeasuredTime}}<br>
                                        {{this.TIMESTAMP}}<br>
                                        {{this.medianMeasuredTime}}<br>
                                        {{this.avgSpeed}}<br>
                                        {{this.vehicleCount}}<br>
                                        {{this.REPORT_ID}}<br>
                                    </p>
                                </div>
                            </div>
                        </data>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col-sm">
            <div>
                <label for="basic-url">Type your road: </label>
                 <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="Type your road" aria-describedby="basic-addon1"
                            id="streetNameInput" value="Strandvejen">
                     <div class="input-group-prepend">
                         <button class="btn btn-success" type="button" id="streetNameSearch">Search</button>
                     </div>
                     <br>
                 </div>
                <select class="form-control" id="townSelectList">
                    <option>Please Select A Street Name</option>
                </select>
            </div>
            <div class="card">
                <div class="card-header">
                    <hr>
                    <p style="align-content: center; text-align: center">Displaying Traffic Status for:
                        <b id="displayHeader"></b>
                    </p>
                </div>
                <div class="">
                    <section id="map"> Data!</section>
                </div>
                <div class="card-footer text-muted">
                    <p> Round Name: <b id="searchResultLocation"> x </b></p>
                    <!--<p> <b id="resultTraffic"> </b></p>-->
                    <p>Date:
                        <b id="resultTimeStamp"> x </b>
                    </p>
                    <p> Traffic Pattern:
                        <b id="resultTraffic"> None </b>
                    </p>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript" src="/search-engine/javascripts/realTimeTraffic.js"></script>
