<!--<div class="container-fluid">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
</div>-->
<br>
<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
        <div class="col-sm-3"> <!--custom-card-side-nav-->
            <div class="scroll custom-card-side-nav">
                <br>
                <hr>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        {{#if parkingSpaces}}
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                               role="tab" aria-controls="pills-home" aria-selected="true">Parking Spaces</a>
                        {{/if}}

                        {{#if realTimeTraffic}}
                            <a class="nav-link" id="pills-traffic-tab" data-toggle="pill" href="#pills-traffic"
                               role="tab" aria-controls="pills-traffic" aria-selected="true">Real TimeTraffic </a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        {{#if airPollutionBanegardsgade}}
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                               role="tab" aria-controls="pills-profile" aria-selected="false">Banegardsgade</a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        {{#if airPollutionBotanicalGarden}}
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                               role="tab" aria-controls="pills-contact" aria-selected="false">BotanicalGarden</a>
                        {{/if}}
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <hr>
                        {{#each parkingSpaces}}
                            <div class="card text-white bg-dark mb-3" id="myTable">
                                <data class="mapData">
                                    <div class="card bg-info text-white garageCode"><b>{{this.garageCode}}</b></div>

                                    <div class="card-body card-effect-circle">
                                        <h7 class="card-title">Total spaces: <b>{{this.availableSpaces}}</b></h7>
                                        <p></p>
                                        <p class="card-text">Last upadated: {{this.date}}</p>
                                    </div>
                                </data>
                            </div>
                        {{/each}}
                    </div>


                    <div class="tab-pane fade" id="pills-traffic" role="tabpanel"
                         aria-labelledby="pills-traffic-tab">
                        <hr>
                        {{#each realTimeTraffic}}
                            <div class="card text-white bg-dark mb-3">
                                <data class="mapData">
                                    <div class="card bg-info text-white garageCode"><b>REPORT_ID: {{this.TIMESTAMP}}</b></div>

                                    <div class="card-body card-effect-circle">
                                        <h7 class="card-title">Average Measured Time: <b>{{this.avgMeasuredTime}}</b></h7>
                                        <p></p>
                                        <p class="card-text">Last upadated: {{this.TIMESTAMP}}</p>
                                        <p class="card-text">Median Measured Time: {{this.medianMeasuredTime}}</p>
                                        <p class="card-text">Average Speed: {{this.avgSpeed}}</p>
                                        <p class="card-text">Vehicle Count: {{this.vehicleCount}}</p>
                                        <p class="card-text">Traffic Status: {{this.status}}</p>
                                    </div>
                                </data>
                            </div>
                        {{/each}}
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                         aria-labelledby="pills-profile-tab">

                        <hr>
                        {{#each airPollutionBanegardsgade}}
                            {{#if @last}}
                                <h5 style="text-align: center"> Last Reading </h5>
                                <div class="card text-white bg-dark mb-3" id="myTable">
                                    <data class="mapData">
                                        <div class="card bg-info text-white"><b>Air Pollution Banegardsgade</b></div>

                                        <div class="card-body card-effect-circle">
                                            <p class="card-text">N02: {{this.N02}}</p>
                                            <p class="card-text">NOx: {{this.NOx}}</p>
                                            <p class="card-text">CO: {{this.CO}}</p>
                                            <p class="card-text">Start Time: {{this.startTime}}</p>
                                            <p class="card-text">End Time: {{this.endTime}}</p>
                                            <p class="card-text">Date: {{this.Date}}</p>
                                        </div>

                                        <div class="card-footer">
                                            <button type="button" class="btn btn-sm btn-success float-left"
                                                    data-toggle="collapse"
                                                    data-target="#demo-{{@index}}"> More Information <i
                                                    class="fas fa-caret-down"></i>
                                            </button>
                                            <br>
                                            <hr>
                                            <div id="demo-{{@index}}" class="collapse">
                                                <canvas id="airPollutionBanegardsgadeChart"
                                                        style="background-color: white" width="300"
                                                        height="500"></canvas>
                                            </div>
                                        </div>
                                    </data>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                         aria-labelledby="pills-contact-tab">
                        <hr>
                        <h5 style="text-align: center">Air Pollution Botanical Garden </h5>
                        <hr>
                        {{#each airPollutionBotanicalGarden}}

                            <div class="card text-white bg-dark mb-3" id="myTable">
                                <data class="mapData">
                                    <div class="card bg-info text-white"><b> Date :{{this.Date}}</b></div>

                                    <div class="card-body card-effect-circle">
                                        <p class="card-text">NO2: {{this.NO2}}</p>
                                        <p class="card-text">NOx: {{this.NOx}}</p>
                                        <p class="card-text">O3: {{this.O3}}</p>
                                        <p class="card-text">Start Time : {{this.startTime}}</p>
                                        <p class="card-text">End Time: {{this.endTime}}</p>
                                        <p class="card-text">Date: {{this.Date}}</p>
                                    </div>
                                </data>
                            </div>
                        {{/each}}
                    </div>
                </div>


            </div>
        </div>

        <div class="col-sm-9">
            <div class="card">

                <div class="card-header">
                    <p class="float-left">Result Map View </p>
                    {{#if hash}}
                        <div class="border border-primary float-right rounded">
                            Your Geohash is - <a class="btn btn-warning"> {{hash}}</a>
                        </div>
                    {{/if}}
                </div>
                <div class="">

                    <section id="map"> Data!</section>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

    </div>
</div>
<br>


<div class="container-fluid" style="text-align: right">
    <div class="card  border-primary ">
        <div class="card-header">
            <h6 style="color: #a30000;"> Search Result </h6>
        </div>
        <div class="card-body bg-light">
            {{#if airPollutionBanegardsgade}}
                <div class="container-fluid"> Air Pollution Banegardsgade <b>{{airPollutionBanegardsgade.length}}</b>
                    data
                    points
                </div>
            {{/if}}
            {{#if airPollutionBotanicalGarden}}
                <div class="container-fluid"> Air Pollution Botanical Garden
                    <b>{{airPollutionBotanicalGarden.length}}</b> data
                    points
                </div>
            {{/if}}
            {{#if parkingSpaces}}
                <div class="container-fluid"> Parking Spaces <b>{{parkingSpaces.length}}</b> data points</div>
            {{/if}}
        </div>
    </div>
</div>
<br>
<script type="text/javascript" src="/search-engine/javascripts/searchResult.js"></script>



